.cv-body {
  font-family: Montserrat;
  background-image: url(../img/background.svg);
  background-repeat: repeat;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.699);
}

.cv-primaryButton {
  background-color: #f61b67;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}

.cv-primaryButton:hover {
  opacity: 0.8;
}

.cv-secondaryButton {
  background-color: #09e498;
  color: black;
  border: none;
  cursor: pointer;
  text-align: center;
}

.cv-secondaryButton:hover {
  opacity: 0.8;
}

.justifiedText {
  text-align: justify;
}

.center {
  text-align: center;
}

.scrolling {
  scrolling: yes;
}

.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar-li {
  float: left;
}

.navbar-li .navbar-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-li .navbar-a:hover {
  background-color: #f61b67;
  color: white !important;
}

.active {
  background-color: #09e498;
  color: black !important;
}

/* LOGIN STYLE */

.loginContainer {
  padding: 16px;
}

.loginInfoContainer {
  border: 3px solid #5c5c5c;
  position: absolute;
  padding: 16px;
  left: 6%;
  top: 25%;
}

.loginColumn {
  float: left;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 25px;
  margin: 10px;
}

.loginLeftColumn {
  width: 40%;
}

.loginRightColumn {
  width: 50%;
}

.loginRow:after {
  content: "";
  display: table;
  clear: both;
}

.loginInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.registerButton {
  padding: 14px 20px;
  margin: 8px 0;
  width: 100%;
}

.loginButton {
  width: auto;
  padding: 10px 18px;
}

.loginImgContainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.loginAvatar {
  width: 15%;
}

span.loginForgotPassword {
  float: right;
  padding-top: 16px;
}

/* PROFILE STYLE */

.profileBiographyColumn {
  height: 1000px;
  background-color: rgb(243, 243, 243);
}

.avatarProfile {
  width: 100%;
}

.profileColumn {
  float: left;
  padding: 10px;
}

.leftProfileColumn {
  width: 22%;
}

.centerProfileColumn {
  width: 50%;
}

.rightProfileColumn {
  width: 22%;
}

.profilePersonalInfo {
  height: 100px;
  padding: 30px;
  background-color: rgb(243, 243, 243);
}

.profileProfessionalInfo {
  margin-top: 5px;
}

.profileProInfoDiv {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
  background-color: rgb(243, 243, 243);
}

.profileMarginText {
  margin: 15px;
}

.profileAddInfoButton {
  position: relative;
  top: -10%;
  width: 70px;
  height: 30px;
  margin-right: -15px !important;
}

.profileEditButton {
  position: relative;
  top: -50%;
  right: 0px;
  width: 140px;
  height: 40px;
  float: right;
  margin-right: -15px !important;
}

.profileSaveButton {
  position: relative;
  top: -10%;
  left: 65%;
  width: 140px;
  height: 40px;
  margin-right: -15px !important;
}

.profileBiographyButton {
  width: 140px;
  height: 40px;
  float: right;
  margin-top: 10px;
}

.profileBiographyInput {
  width: 100%;
  height: 200px;
  text-align: left;
  resize: none;
}

.biographyModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.biographyModal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 60px;
  border: 1px solid #888;
  width: 35%;
}


.closeButton {
  position: relative;
  top: -10%;
  color: #aaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.closeButton:hover,
.closeButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* FORUM STYLE */

.forum-buttons {
  width: 60%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
  padding: 1%;
  background-color: white;
  border-radius: 25px;
}

.forum-button {
  padding: 14px 20px;
  margin: 0em 5em 0;
  width: 10%;
}

/* Add a hover effect for buttons */

.forum-newPublication {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 10% 90% 100%;
  margin: 0% 20% 0% 20%;
  background-color: white;
  border-radius: 25px;
  padding: 1%;
}

.forum-newPublicationText {
  display: grid;
  grid-template-rows: 30% 70%;
}

.inputText {
  font-family: Montserrat;
}

.textArea {
  font-family: Montserrat;
  font-size: 80%;
  padding: 1%;
  resize: none;
}

.forum-publications {
  background-color: white;
  text-align: left;
  width: 60%;
  padding: 1%;
  margin: 5em 0em 0em 0em;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 25px;
}

/* CONTACT STYLE */
.contact-column {
  float: left;
  width: 40%;
  background-color: white;
  color: black;
  border-radius: 25px;
}

/* Clear floats after the columns */

.contact-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Add padding to containers */

.contact-container_search {
  padding-left: 60%;
  position: absolute;
  margin-top: -7.5%;
  margin-left: 13%;
}

.contact-container_chat {
  margin-top: 8%;
  margin-left: 10%;
  height: 50%;
}

.contact-container_contact {
  margin: 3% 0 0 8%;
}

.contact-chat_box {
  width: 90%;
  height: 150%;
  border: 2px solid black;
}

.contact-contact_box {
  margin: 3% 0 0 7%;
  width: 85%;
  height: 75%;
  border: 2px solid black;
}

.contact-searchcontainer {
  border: 3px solid #5c5c5c;
  position: absolute;
  width: 90%;
  height: 15%;
  left: 5%;
  top: 2%;
}

.contact-contactcontainer {
  border: 3px solid #5c5c5c;
  position: absolute;
  height: 75%;
  width: 45%;
  left: 5%;
  top: 20%;
}

.contact-chatcontainer {
  border: 3px solid #5c5c5c;
  position: absolute;
  height: 75%;
  left: 55%;
  top: 20%;
}

/* Bordered form */

.contact-form {
  border: 3px solid #5c5c5c;
  width: 50%;
  position: absolute;
  left: 51%;
  top: 25%;
  border-radius: 20px;
}

/* Full-width inputs */

.contact-input[type="text"],
.contact-input[type="password"] {
  width: 60%;
  padding: 14px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */

.contact-button {
  margin: 8px 0;
  padding: 14px 20px;
  width: 30%;
}

/* Add a hover effect for buttons */

/* Extra style for the cancel button (red) */

.contact-loginbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #09e498;
}

/* Center the avatar image inside this container */

.contact-imgcontainer {
  display: inline-block;
  text-align: center;
  margin-top: 1.5%;
  margin-bottom: 2%;
  margin-right: 15%;
}

/* Avatar image */

.contact-avatar {
  width: 30%;
}

/* BROWSER STYLE */
.browser-search-header {
  height: 60px;
  margin: 5px;
  text-align: center;
}

.browser-search {
  width: 100%;
  display: table;
  position: relative;
  text-align: center;
}

.browser-search:after {
  content: "";
  display: table;
  clear: both;
}

.browser-search-column {
  float: left;
  width: 50%;
}

@media screen and (max-width: 600px) {
  .browser-header-column {
    width: 100%;
  }
}

.browser-filter-section {
  display: none;
  text-align: center;
}

.browser-search-button {
  margin-top: 40px;
  width: 90px;
  height: 30px;
}

.browser-filter-button {
  width: 150px;
  margin-top: 30px;
  height: 50px;
}

/* Center the avatar image inside this container */
.browser-imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
.browser-avatar {
  height: 100%;
  border-radius: 50%;
}

.browser-people-result {
  width: 100%;
  display: table;
  margin: 5px;
  text-align: center;
  color: white;
}

.browser-people-result:after {
  content: "";
  display: table;
  clear: both;
}

.browser-card-avatar {
  width: 100%;
}

.browser-card {
  /* Add shadows to create the "card" effect */
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  float: left;
  width: 150px;
  color: black;
}

@media screen and (max-width: 600px) {
  .browser-card {
    width: 100%;
  }
}

/* On mouse-over, add a deeper shadow */
.browser-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.browser-container {
  padding: 2px 16px;
}
